{% extends 'base.html' %}
{% block content %}

    <h2>Reading Activity</h2>
    <p>Click on the title to enter finish date</p>
    
    <table class='table'>
        
        <tr>
            <th>Book</th>
            <th>Date Started</th>
            <th>Date Finished</th>
            <th>Reread?</th>
            <th>Quit without finishing</th>

            
    
        </tr>
        {% for BooksRead in read_list %}
        <tr>
            <td><a href="{% url 'finishbook' pk=BooksRead.id %}">{{ BooksRead.book }}</a></td>
            <td>{{ BooksRead.datestarted }}</td>
            <td>{{ BooksRead.dateended }}</td>
            <td>{{ BooksRead.reread }}</td>
            <td>{{BooksRead.quitdate }}</td>
           
        </tr>
        {% endfor %}
    </table>
    {% endblock %}

