{% extends 'base.html' %}
{% block content %}




<table class="table" >
    <tr>
        <td><strong>Reading</strong></td><td> This web site is devoted to tracking all the books read over the course of the year.</td>
       
    </tr>

    <tr>
<td>Total books listed:</td> <td><strong>{{ bookcount }}</strong></td>
</tr>
<tr>
    <td>Total authors listed:</td><td><strong>{{ authorcount }}</strong></td>
</tr>
<tr>
    <td>Total book notes:</td><td><strong>{{ authorcount }}</strong></td>
</tr>
<tr>
    <td>Total books read:</td><td><strong>{{ readcount }}</strong></td>
</tr>

</table>



{% endblock %}