
<!DOCTYPE html>
<html>
    <head>
        <title>Reading</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        

    </head>
    <body>
        <div class='jumbotron'>
            <h1>Reading</h1>
        </div>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Reading</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'getbooks' %}">Books</a></li>
                    <li><a href="{% url 'getauthors' %}">Authors</a></li>
                    <li><a href="{% url 'getnotes' %}">Notes</a></li>
                    <li><a href="{% url 'genres' %}">Genres</a></li>
                    <li><a href="{% url 'booksread' %}">Reading Activity</a></li>
                    <li><a href="{% url 'addbook' %}">Add Book</a></li>
                    <li><a href="{% url 'addauthor' %}">Add Author</a></li>
                    <li><a href="{% url 'addreading'%}">Add reading</a></li>
                    <li><a href="{% url 'newnote' %}">Add Notes</a></li>
                    <li><a href="{% url 'addgenre' %}">Add genre</a></li>
               
                </ul>
                </div>
                </nav>
        <p>&nbsp;</p>
        <div class="container-fluid">
        {% block content %}
        {% endblock content %}
        </div>
    </body>
</html>